* {
    background-color: black;
    color: whitesmoke;
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 0 8%;
    position: fixed;
    clear: both;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
}

.nav-links {
    padding: 28px 0;
    color: whitesmoke;
}

.nav-links li {
    display: inline-block;
    margin: 0 5px;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 5px;
    position: relative;
}

.nav-links li a::after {
    content: '';
    background: rgb(94, 188, 0);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.home h1 {
    padding-top: 120px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: rgb(94, 188, 0);
}

.home h3 {
    padding-top: 0px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;    
}

.video-intro{
    position: relative;
    padding: 20px 16%;
    text-align: center;
}

hr{
    width: 50%;
    height:5px;
    border-width:0;
    background-color: black;
    padding: 20px 8%;
}


.products h3{
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px; 
    color: rgb(94, 188, 0);
}

.products h4{
    padding-top: 0px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: normal; 
}

.products .advantages{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
}